<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>You provide us with more detailed requirements, we can help find it - Leo </title>
    <link rel="icon" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/static/favicon.ico}" type="image/x-icon"/>
    <meta name="keywords" th:content="@{${'Infrared Thermometer,' + data.no}}   " />
    <link rel="stylesheet" href="../static/css/detail.css">
</head>
<body>

<div id="top">
    <div class="content-body top-contenter" >

            <p class="lbodyl rightborder element-padding"> <a>EN</a></p>
            <p  class="lbodyl rightborder element-padding"><a>Available 24/7 at (+86) 18813951795</a></p>
            <p class="lbodyr">Leo's & COVID-19: A Shipping and Customer Service Update for You. <a> wendy@esellto.com</a></p>

    </div>
</div>

<div id="log">
    <h1 style="height: 80px;line-height: 80px">
        <img style="margin-top: 10px; height: 70px"  src="../static/logo.png">
    </h1>
</div>

<div id="menu">
    <div class="content-body menu-contenter">
        <ul>
			<li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{'/list.html'}" href="Medical care">Medical care</a></li>
            <li><a href="#">coming</a></li>
        </ul>
    </div>
</div>


<div id="line"> </div>

<div class="tip"> Medical Care > [[${ data.no}]]</div>
<div style="clear:both;"></div>

<div id="body" >
    <div class="content-body body-contenter" >
        <div id="body-img">
            <img th:src="@{${'/static' + data.imgUrl}}" th:alt="@{${'Name: ' + data.name +' ' + data.no}}">
            
        </div>

        <div id="body-title">
            <h3 th:text="@{${'Name: ' + data.name}}"> </h3><br/>
            <h3 th:text="@{${'Art.No: '+ data.no}}"></h3><br/>
            
            <ul id="point">
            	[(${data.feature})]
                

            </ul>

            <br/><br/><br/>
            <b>Description:</b><br/><br/>
            <ul id="s">
				[(${data.detail})]
                
            </ul>


        </div>


    </div>
</div>
<div style="clear:both;"></div>
<div class="tip"> </div>
<div class="tip" style="margin-top: 20px;width: 100%; height: 1px;background: #ed9018"> </div>
<div id="bottom">
    <div class="content-body bottom-contenter">
        <p>Terms of UsePrivacy PolicyFur PolicyInterest-Based Ads24/7 Customer Service (+86) 18813951795  email: wendy@esellto.com</p>
        <p> &copy2020 Leo's, Inc. All rights reserved</p>

    </div>
</div>

</body>
</html>